// Mixins
// Background Cover Mixin

// Font Mixins
@mixin serif-font {
  font-family: 'Europa', sans-serif;
}
@mixin script-font {
  font-family: 'Europa', sans-serif;
}
@mixin body-font {
  font-family: 'Europa', sans-serif;
}
@mixin heading-font {
  font-family: 'Europa', sans-serif;
}
